.header {
  margin-top: 5px;
  border-width: 2px;
  border-style: solid;
  height: 120px;
  border-color: royalblue;
}

.center {
  display: flex;
  justify-content:center;
}
.particles {
  background-color: royalblue;
}
.about{
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  height: 220px;
  border-color: royalblue;
}

.inputField{
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  height: 80px;
  border-color: royalblue;
}

.images {
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  height: 200px;
  border-color: royalblue;
}