body{
  background-image: url("mountain.jpg");
  background-size: cover;
  height: 100%;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #101010;
  color: white;
  letter-spacing: 3px;
  font-family: rockwell;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

.header h1{
  text-align: center;
  font-weight: normal;
}

.center {
  display: flex;
  justify-content:center;
}
.particles {
  background-color: royalblue;
}
.about{
  margin-top: 30px;
  border-width: 2px;
  padding: 25px;
  border-style: solid;
  height: 220px;
  margin-bottom: 30px;
  border-color: royalblue;
}

.inputField{
  border: 2px solid rosybrown;
  align-items: center;
  margin-top: 50px;
  height: 80px;
  padding: 25px;
}

.images {
  margin-top: 50px;
  border-width: 2px;
  padding: 25px;
  border-style: solid;
  height: 200px;
  margin-bottom: 50px;
  border-color: royalblue;
}

.button {
  width: 160px;
  color: black;
  border-radius: 15px;
  border-color: rgb(135, 131, 209);
  text-align: center;
  padding: 10px 25px;
  cursor: pointer;
  background-color: rgb(135, 131, 209);
}

.textfield{
  display: inline;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin: 0 auto;
}

.Content{
  padding: 0 25px;
}

.footer{
  border: aqua;
  border-style: solid;
  height: 50px;
  padding: 25px;
  text-align: center;
  color: azure;
  background-color: black;
}

#typewriter{
  animation: animated-cursor 600ms infinite;
}